:root {
    --pico-font-family: "Fira Code", monospace;
}

* {
    box-shadow: none !important;
}

@media (prefers-reduced-motion: reduce) {
    * {
        transition: none !important;
    }
}

@media only screen and (prefers-color-scheme: dark) {
    :root:not([data-theme]) {
        --pico-muted-color: #CACBCE;
    }
}

.container-fluid {
    max-width: 1200px;
    margin-inline: auto;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: var(--pico-background-color);
}

article {
    background-color: hsla(221, 25%, 85%, 0.15)
}

section p img {
    border-radius: 0.25rem;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}
