---
import Layout from "../layouts/Layout.astro";
import AboutMe from "../sections/AboutMe.astro";
import Statistics from "../sections/Statistics.astro";
import Projects from "../sections/Projects.astro";
import Experience from "../sections/Experience.astro";
import Education from "../sections/Education.astro";
---

<Layout title="Adonys Santos">
  <main>
    <h1 hidden aria-hidden="true">Adonys Santos</h1>
    <AboutMe />
    <Statistics />
    <Projects />
    <Experience />
    <Education />
  </main>
</Layout>
