---
import HeaderLink from "./HeaderLink.astro";
import LangLink from "./LangLink.astro";
import { BETA_FEATURES } from "../utilities/consts";
import GitHubIcon from "./GitHubIcon.astro";
import LinkedInIcon from "./LinkedInIcon.astro";
import RssIcon from "./RssIcon.astro";
import { LANGUAGES, useTranslations, type LanguageKey } from "../i18n/utils";

type Props = {
  lang: LanguageKey;
};

const { lang } = Astro.props;
const t = useTranslations(lang);
---

<header class="sticky">
  <nav>
    <ul>
      <li>
        <HeaderLink href={`/${lang || ""}`}>{t("nav.home")}</HeaderLink>
      </li>
      <li>
        <HeaderLink href={`/${lang || ""}/blog`}>{t("nav.blog")}</HeaderLink>
      </li>
    </ul>

    <ul>
      <li>
        <a
          href="https://github.com/adonyssantos"
          target="_blank"
          rel="noopener"
          aria-labelledby="github-profile"
        >
          <GitHubIcon aria-hidden="true" width="32" height="32" />
          <span id="github-profile" hidden>My GitHub: adonyssantos</span>
        </a>
      </li>
      <li>
        <a
          href="https://www.linkedin.com/in/adonyssantos/"
          target="_blank"
          rel="noopener"
          aria-labelledby="linkedin-profile"
        >
          <LinkedInIcon aria-hidden="true" width="32" height="32" />
          <span id="linkedin-profile" hidden>My LinkedIn: adonyssantos</span>
        </a>
      </li>
      <li>
        <a
          href={`/${lang || ""}/rss.xml`}
          target="_blank"
          rel="noopener"
          aria-labelledby="rss-feed"
        >
          <RssIcon aria-hidden="true" width="32" height="32" />
          <span id="linkedin-profile" hidden
            >My blog RSS Feed on {LANGUAGES[lang]}</span
          >
        </a>
      </li>
      <li>
        <span aria-hidden="true">|</span>
      </li>

      <li>
        <details class="dropdown">
          <summary>
            {lang}
            <!-- TODO: The following will rendered on 425 or more screen sizes  -->
            <!-- ðŸŒ {LANGUAGES[lang]} -->
          </summary>
          <ul dir="rtl">
            <li><LangLink language="en" isActive={lang == "en"} /></li>
            <li><LangLink language="es" isActive={lang == "es"} /></li>
          </ul>
        </details>
      </li>
      {
        BETA_FEATURES.search && (
          <li>
            <input
              type="search"
              name="search"
              placeholder="Search"
              aria-label="Search"
            />
          </li>
        )
      }
    </ul>
  </nav>

  {
    BETA_FEATURES.breadcrumbs && (
      <>
        <nav aria-label="breadcrumb">
          <ul>
            <li>
              <a href="/home">Home</a>
            </li>
            <li>
              <a href="/projects">Projects</a>
            </li>
            <li>Password Manager</li>
          </ul>
        </nav>
        <hgroup>
          <h2>Page Title</h2>
          <p>Page descriptiom</p>
        </hgroup>
      </>
    )
  }
</header>
