---
import HeaderLink from "./HeaderLink.astro";
import { BETA_FEATURES } from "../utilities/consts";
import GitHubIcon from "./GitHubIcon.astro";
import LinkedInIcon from "./LinkedInIcon.astro";
import LanguagePicker from "./LanguagePicker.astro";
import RssIcon from "./RssIcon.astro";
import { useTranslations, type LanguageKey } from "../i18n/utils";

type Props = {
  lang: LanguageKey;
};

const { lang } = Astro.props;
const t = useTranslations(lang);
---

<header class="sticky">
  <nav>
    <ul>
      <li>
        <HeaderLink href={`/${lang || ""}`}>{t("nav.home")}</HeaderLink>
      </li>
      <li>
        <HeaderLink href={`/${lang || ""}/blog`}>{t("nav.blog")}</HeaderLink>
      </li>
    </ul>

    <ul>
      <li>
        <a
          href="https://github.com/adonyssantos"
          target="_blank"
          rel="noopener"
          aria-labelledby="github-profile"
        >
          <GitHubIcon aria-hidden="true" width="32" height="32" />
          <span id="github-profile" hidden>{t("nav.social.github")}</span>
        </a>
      </li>
      <li>
        <a
          href="https://www.linkedin.com/in/adonyssantos/"
          target="_blank"
          rel="noopener"
          aria-labelledby="linkedin-profile"
        >
          <LinkedInIcon aria-hidden="true" width="32" height="32" />
          <span id="linkedin-profile" hidden>{t("nav.social.linkedin")}</span>
        </a>
      </li>
      <li>
        <a
          href={`/${lang || ""}/rss.xml`}
          target="_blank"
          aria-labelledby="rss-feed"
        >
          <RssIcon aria-hidden="true" width="32" height="32" />
          <span id="rss-feed" hidden>{t("nav.social.rss")}</span>
        </a>
      </li>
      <li>
        <span aria-hidden="true">|</span>
      </li>
      <li>
        <LanguagePicker currentLang={lang} />
      </li>
      {
        BETA_FEATURES.search && (
          <li>
            <input
              type="search"
              name="search"
              placeholder="Search"
              aria-label="Search"
            />
          </li>
        )
      }
    </ul>
  </nav>

  {
    BETA_FEATURES.breadcrumbs && (
      <>
        <nav aria-label="breadcrumb">
          <ul>
            <li>
              <a href="/home">Home</a>
            </li>
            <li>
              <a href="/projects">Projects</a>
            </li>
            <li>Password Manager</li>
          </ul>
        </nav>
        <hgroup>
          <h2>Page Title</h2>
          <p>Page descriptiom</p>
        </hgroup>
      </>
    )
  }
</header>
