---
import {
    START_WORKING_DATE,
    INACTIVE_WORKING_MONTHS,
} from "../utilities/consts";
import { calculateExperienceYears } from "../utilities/functions";

const { text } = Astro.props;

const experienceYears = calculateExperienceYears(
    START_WORKING_DATE,
    INACTIVE_WORKING_MONTHS,
);
---

<span>{experienceYears} {text}</span>
