---
import { START_WORKING_DATE } from "../utilities/consts";
import { calculateExperienceYears } from "../utilities/functions";

const { text } = Astro.props;
const experienceYears = calculateExperienceYears(START_WORKING_DATE);
---

<span>{experienceYears} {text}</span>
