---
import { type LanguageKey, useTranslations } from "../i18n/utils";

type Props = {
  lang: LanguageKey;
};

const { lang } = Astro.props;
const t = useTranslations(lang);
---

<section id="about-me">
  <h2 hidden aria-hidden="true">{t("section.about_me.title")}</h2>
  <p><strong>{t("section.about_me.description")}</strong></p>
  <p>
    {t("section.about_me.first_paragraph")}
  </p>
  <p>
    {t("section.about_me.second_paragraph")}
  </p>
</section>
