<section id="about-me">
  <h2 hidden aria-hidden="true">About Me</h2>
  <p><strong>Hi there 👋</strong></p>
  <p>
    My name is Adonys Santos, a Software Engineer with a passion for web and
    mobile development. I have experience in building applications using modern
    technologies base on JavaScript, TypeScript and Python.
  </p>
  <p>
    I am passionate about technology and always seek ways to improve and learn
    new skills. I enjoy sharing my knowledge and helping others in any way I
    can. I support cooperation and teamwork to accomplish shared objectives.
  </p>
</section>
