<section id="education">
  <hgroup>
    <h2>Education</h2>
    <p>Here are some of the schools I have attended.</p>
  </hgroup>
  <article>
    <h3 hidden aria-hidden="true">Cincinnatus Institute of Craftsmanship</h3>
    <hgroup>
      <strong>Cincinnatus Institute of Craftsmanship</strong> • <em
        >Web Applications Development</em
      >
      <p><small>Jul 2021 - Jan 2023</small></p>
    </hgroup>
    <p>
      Learned the basics of web development and how to build web applications
      using modern technologies.
    </p>
  </article>
  <article>
    <h3 hidden aria-hidden="true">Platzi</h3>
    <hgroup>
      <strong>Platzi</strong> • <em
        >Software Development, Agile and Soft-skills</em
      >
      <p><small>Apr 2021 - Oct 2022</small></p>
    </hgroup>
    <p>
      Learned from industry experts about software development, agile
      methodologies, and soft-skills.
    </p>
  </article>
  <article>
    <h3 hidden aria-hidden="true">
      Centro Educativo Manuel Acevedo Serrano (Fé y Alegria)
    </h3>
    <hgroup>
      <strong>Centro Educativo Manuel Acevedo Serrano (Fé y Alegria)</strong> • <em
        >High School and Technical</em
      >
      <p><small>2018 - 2021</small></p>
    </hgroup>
    <p>Completed high school and a technical degree in computer science.</p>
  </article>
</section>
