<section id="experience">
  <hgroup>
    <h2>Experience</h2>
    <p>Here are some of the companies I have worked for.</p>
  </hgroup>
  <article>
    <h3 hidden aria-hidden="true">Minnek Digital Studio</h3>
    <hgroup>
      <strong>Minnek Digital Studio</strong> • <em>Software Engineer</em>
      <p><small>Sep 2023 - Present</small></p>
    </hgroup>
    <p>
      Contributing e-commerce solutions for <a
        href="https://yourstorewizards.com/"
        target="_blank"
        rel="noopener">Your Store Wizards</a
      > to improve their customer experience.
    </p>
  </article>
  <article>
    <h3 hidden aria-hidden="true">Intellisys D. Corp.</h3>
    <hgroup>
      <strong>Intellisys D. Corp.</strong> • <em>Software Developer</em>
      <p><small>Oct 2022 - Sep 2023</small></p>
    </hgroup>
    <p>
      Working hand in hand with a cross-functional team to develop various web
      and mobile solutions for different customers.
    </p>
  </article>
  <article>
    <h3 hidden aria-hidden="true">Freelance</h3>
    <hgroup>
      <strong>Freelance</strong> • <em>Full Stack Developer</em>
      <p><small>Jan 2022 - Jun 2022</small></p>
    </hgroup>
    <p>
      Scaled an ed-tech platform for 4 Dominican schools, serving 80+
      professors.
    </p>
  </article>
</section>
