<section id="projects">
  <hgroup>
    <h2>Projects</h2>
    <p>Here are some of the projects I have worked on.</p>
  </hgroup>
  <article>
    <h3 hidden aria-hidden="true">🌴 Palm Tree CSS</h3>
    <hgroup>
      <strong>🌴 Palm Tree CSS</strong> • <em>Open Source</em>
      <p>
        Palm Tree CSS is a classless CSS framework to build modern and
        responsive web interfaces without writing any CSS or filling your HTML
        with classes. Just write semantic and accessible HTML and let Palm Tree
        CSS do the rest.
      </p>
    </hgroup>
    <p>
      <a
        href="https://github.com/adonyssantos/palm-tree-css"
        target="_blank"
        rel="noopener">GitHub</a
      >
      <a href="https://palm-tree-css.vercel.app/" target="_blank" rel="noopener"
        >Docs</a
      >
    </p>
  </article>
  <article>
    <h3 hidden aria-hidden="true">Git Config Sync</h3>
    <hgroup>
      <strong>Git Config Sync</strong> • <em>Open Source</em>
      <p>
        Git Config Sync is a CLI tool to sync your configuration files (like
        .gitconfig, .gitignore, .bashrc, .zshrc, etc.) across multiple machines.
        It allows you to keep your Git configuration files in sync across
        multiple machines and operating systems using any Git repositories
        service like GitHub, GitLab, Bitbucket, etc.
      </p>
    </hgroup>
    <p>
      <a
        href="https://github.com/adonyssantos/git-config-sync"
        target="_blank"
        rel="noopener">GitHub</a
      >
    </p>
  </article>
  <article>
    <h3 hidden aria-hidden="true">NativeTwin (React Universal)</h3>
    <hgroup>
      <strong>NativeTwin (React Universal)</strong> • <em>Open Source</em>
      <p>
        Native Twin simplifies the integration of Tailwind CSS framework in
        React Native apps allowing developers to use the same design system in
        both web and mobile apps.
      </p>
    </hgroup>
    <p>
      <a
        href="https://github.com/react-universal/native-twin"
        target="_blank"
        rel="noopener">GitHub</a
      >
      <a href="https://tailwind-docs.vercel.app/" target="_blank" rel="noopener"
        >Docs</a
      >
    </p>
  </article>
  <article>
    <h3 hidden aria-hidden="true">Twitter Clone</h3>
    <hgroup>
      <strong>Twitter Clone</strong> • <em>Gentleman Programming Community</em>
      <p>
        A cross-platform Twitter (X) clone built with universal JavaScript
        technologies (including NativeTwin) and other modern tools like Next.js,
        React Native with Expo, Prisma, Supabase, tRPC and more.
      </p>
    </hgroup>
    <p>
      <a
        href="https://github.com/adonyssantos/gentleman-community-twitter-clone"
        target="_blank"
        rel="noopener">GitHub</a
      >
    </p>
  </article>
  <article>
    <h3 hidden aria-hidden="true">Foro Cincinnatus</h3>
    <hgroup>
      <strong>Foro Cincinnatus</strong> • <em>Technology talks</em>
      <p>
        I delivered impactful technical talks focused on frontend with React and
        client-server communication through APIs.
      </p>
    </hgroup>
    <p>
      <a
        href="https://foro.cincinnatus.org.do/viewForums/11"
        target="_blank"
        rel="noopener">Foro Cincinnatus #11 (React)</a
      >
    </p>
    <p>
      <a
        href="https://foro.cincinnatus.org.do/viewForums/13"
        target="_blank"
        rel="noopener"
        >Foro Cincinnatus #13 (Client-server communication - APIs)</a
      >
    </p>
  </article>
  <article>
    <h3 hidden aria-hidden="true">Password Manager</h3>
    <hgroup>
      <strong>Password Manager</strong> • <em>Personal Project</em>
      <p>
        An web application that allows users to store and generate their
        passwords safely in one built with React, TypeScript, and Firebase.
      </p>
    </hgroup>
    <p>
      <a
        href="https://github.com/adonyssantos/password-manager"
        target="_blank"
        rel="noopener">GitHub</a
      >
      <a href="https://password.adonys.me/" target="_blank" rel="noopener"
        >Live</a
      >
    </p>
  </article>
</section>
