---
import TimeZone from "../components/TimeZone.astro";
import YearsOfExperience from "../components/YearsOfExperience.astro";
---

<section id="statistics" class="grid">
  <h2 hidden aria-hidden="true">Statistics</h2>
  <article>
    <h3>Experience</h3>
    <YearsOfExperience />
  </article>
  <article>
    <h3>Projects Completed</h3>
    <p>30+</p>
  </article>
  <article>
    <h3>Happy Clients</h3>
    <p>9+</p>
  </article>
  <article>
    <h3>Time Zone</h3>
    <TimeZone />
  </article>
</section>
